[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "aws.wrfsmn"]
	path = aws.wrfsmn
	url = https://github.com/gonzalo1985/aws.wrfsmn
